* {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
}
.container {
    width: 1170px;
    height: auto;
    margin: auto;
    position: relative;
}
.banner_area {
    position: relative;
    margin-bottom: 20px;
}
.banner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Set a higher z-index for text */
}